commands:
  make_ec2user_docker_dir:
    command: sudo mkdir -p $(sudo -uec2-user bash -c 'echo -n $HOME')/.docker
  make_root_docker_dir:
    command: sudo mkdir -p $(sudo -uroot bash -c 'echo -n $HOME')/.docker
  copy_ec2user_credential:
    command: sudo aws s3 cp s3://internal-storage.onplatforms.net/docker/config.json $(sudo -uec2-user bash -c 'echo -n $HOME')/.docker/config.json
  copy_root_credential:
    command: sudo aws s3 cp s3://internal-storage.onplatforms.net/docker/config.json $(sudo -uroot bash -c 'echo -n $HOME')/.docker/config.json
