commands:
  docker_version:
    command: sudo docker version
#  docker_info:
#     command: sudo docker info
#   cp_image:
#     command: aws s3 cp s3://internal-storage.onplatforms.net/zero/<APP_VERSION>/containers/zero.tar.gz /tmp/zero.tar.gz
#   load_image:
#     command: sudo docker load --input /tmp/zero.tar.gz
#   show_image:
#     command: sudo docker images
#   image_mapping:
#     command: sudo docker tag onplatforms.net/zero/zero:<APP_VERSION> aws_beanstalk/current-app:latest
#   restart:
#     command: sudo docker kill $(sudo docker ps -q)
